---
title: HSK - Test Samples
tags: [special_layouts]
last_updated: November 30, 2015
keywords: shuffle, card layout, dynamic grid, doc portal, support portal
summary: "This layout shows an example of a knowledge-base style navigation system, where there is no hierarchy, just groups of pages that have certain tags."
permalink: hsk_test_samples.html
sidebar: hsk_sidebar
folder: hsktestsamples
---



{% if site.output == "pdf" %}
{{site.data.alerts.note}} The content on this page doesn't display well on PDF, but I included it anyway so you could see the problems this layout poses if you're including it in PDF.  {{site.data.alerts.end}}
{% endif %}

{% unless site.output == "pdf" %}
<script src="js/jquery.shuffle.min.js"></script>
<script src="js/jquery.ba-throttle-debounce.min.js"></script>
{% endunless %}

<div class="filter-options">
    <button class="btn btn-primary" data-group="all">All</button>
    <button class="btn btn-primary" data-group="hsk_1">HSK 1</button>
    <button class="btn btn-primary" data-group="hsk_2">HSK 2</button>
    <button class="btn btn-primary" data-group="hsk_3">HSK 3</button>
    <button class="btn btn-primary" data-group="hsk_4">HSK 4</button>
    <button class="btn btn-primary" data-group="hsk_5">HSK 5</button>
    <button class="btn btn-primary" data-group="hsk_6">HSK 6</button>
</div>



<div id="grid" class="row">


    <div class="col-xs-12 col-sm-6 col-md-4" data-groups='["hsk_1"]'>
        <div class="panel panel-default">
            <div class="panel-heading">HSK 1</div>
            <div class="form-group">
                <div class="label-hsk-testCode">
                    <label>H10901</label>
                </div>
                <div class="btn-group flex-wrap" role="group">
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H10901.pdf"}}" target="_blank">PDF</a>
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H10901.mp3"}}" target="_blank">mp3</a>
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H10901.rar"}}" target="_blank">rar</a>
                </div>
            </div>
            <div class="form-group">
                <div class="label-hsk-testCode">
                    <label>H10902</label>
                </div>
                <div class="btn-group flex-wrap" role="group">
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H10902.pdf"}}" target="_blank">PDF</a>
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H10902.mp3"}}" target="_blank">mp3</a>
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H10902.rar"}}" target="_blank">rar</a>
                </div>
            </div>
            <div class="form-group">
                <div class="label-hsk-testCode">
                    <label>H11003</label>
                </div>
                <div class="btn-group flex-wrap" role="group">
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H11003.pdf"}}" target="_blank">PDF</a>
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H11003.mp3"}}" target="_blank">mp3</a>
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H11003.rar"}}" target="_blank">rar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4" data-groups='["hsk_2"]'>

        <div class="panel panel-default">
            <div class="panel-heading">HSK 2</div>
            <div class="form-group">
                <div class="label-hsk-testCode">
                    <label>H20901</label>
                </div>
                <div class="btn-group flex-wrap" role="group">
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H20901.pdf"}}" target="_blank">PDF</a>
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H20901.mp3"}}" target="_blank">mp3</a>
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H20901.rar"}}" target="_blank">rar</a>
                </div>
            </div>
            <div class="form-group">
                <div class="label-hsk-testCode">
                    <label>H20902</label>
                </div>
                <div class="btn-group flex-wrap" role="group">
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H20902.pdf"}}" target="_blank">PDF</a>
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H20902.mp3"}}" target="_blank">mp3</a>
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H20902.rar"}}" target="_blank">rar</a>
                </div>
            </div>
            <div class="form-group">
                <div class="label-hsk-testCode">
                    <label>H21003</label>
                </div>
                <div class="btn-group flex-wrap" role="group">
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H21003.pdf"}}" target="_blank">PDF</a>
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H21003.mp3"}}" target="_blank">mp3</a>
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H21003.rar"}}" target="_blank">rar</a>
                </div>
            </div>
        </div>
    </div>



    <div class="col-xs-12 col-sm-6 col-md-4" data-groups='["hsk_3"]'>
        <div class="panel panel-default">
            <div class="panel-heading">HSK 3</div>
            <div class="form-group">
                <div class="label-hsk-testCode">
                    <label>H31001</label>
                </div>
                <div class="btn-group flex-wrap" role="group">
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H31001.pdf"}}" target="_blank">PDF</a>
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H31001.mp3"}}" target="_blank">mp3</a>
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H31001.rar"}}" target="_blank">rar</a>
                </div>
            </div>
            <div class="form-group">
                <div class="label-hsk-testCode">
                    <label>H31002</label>
                </div>
                <div class="btn-group flex-wrap" role="group">
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H31002.pdf"}}" target="_blank">PDF</a>
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H31002.mp3"}}" target="_blank">mp3</a>
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H31002.rar"}}" target="_blank">rar</a>
                </div>
            </div>
            <div class="form-group">
                <div class="label-hsk-testCode">
                    <label>H31003</label>
                </div>
                <div class="btn-group flex-wrap" role="group">
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H31003.pdf"}}" target="_blank">PDF</a>
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H31003.mp3"}}" target="_blank">mp3</a>
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H31003.rar"}}" target="_blank">rar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4" data-groups='["hsk_4"]'>
        <div class="panel panel-default">
            <div class="panel-heading">HSK 4</div>
            <div class="form-group">
                <div class="label-hsk-testCode">
                    <label>H41001</label>
                </div>
                <div class="btn-group flex-wrap" role="group">
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H41001.pdf"}}" target="_blank">PDF</a>
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H41001.mp3"}}" target="_blank">mp3</a>
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H41001.rar"}}" target="_blank">rar</a>
                </div>
            </div>
            <div class="form-group">
                <div class="label-hsk-testCode">
                    <label>H41002</label>
                </div>
                <div class="btn-group flex-wrap" role="group">
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H41002.pdf"}}" target="_blank">PDF</a>
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H41002.mp3"}}" target="_blank">mp3</a>
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H41002.rar"}}" target="_blank">rar</a>
                </div>
            </div>
            <div class="form-group">
                <div class="label-hsk-testCode">
                    <label>H41003</label>
                </div>
                <div class="btn-group flex-wrap" role="group">
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H41003.pdf"}}" target="_blank">PDF</a>
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H41003.mp3"}}" target="_blank">mp3</a>
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H41003.rar"}}" target="_blank">rar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4" data-groups='["hsk_5"]'>
        <div class="panel panel-default">
            <div class="panel-heading">HSK 5</div>
            <div class="form-group">
                <div class="label-hsk-testCode">
                    <label>H51001</label>
                </div>
                <div class="btn-group flex-wrap" role="group">
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H51001.pdf"}}" target="_blank">PDF</a>
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H51001.mp3"}}" target="_blank">mp3</a>
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H51001.rar"}}" target="_blank">rar</a>
                </div>
            </div>
            <div class="form-group">
                <div class="label-hsk-testCode">
                    <label>H51002</label>
                </div>
                <div class="btn-group flex-wrap" role="group">
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H51002.pdf"}}" target="_blank">PDF</a>
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H51002.mp3"}}" target="_blank">mp3</a>
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H51002.rar"}}" target="_blank">rar</a>
                </div>
            </div>
            <div class="form-group">
                <div class="label-hsk-testCode">
                    <label>H51003</label>
                </div>
                <div class="btn-group flex-wrap" role="group">
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H51003.pdf"}}" target="_blank">PDF</a>
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H51003.mp3"}}" target="_blank">mp3</a>
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H51003.rar"}}" target="_blank">rar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4" data-groups='["hsk_6"]'>
        <div class="panel panel-default">
            <div class="panel-heading">HSK 6</div>
            <div class="form-group">
                <div class="label-hsk-testCode">
                    <label>H61001</label>
                </div>
                <div class="btn-group flex-wrap" role="group">
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H61001.pdf"}}" target="_blank">PDF</a>
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H61001.mp3"}}" target="_blank">mp3</a>
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H61001.rar"}}" target="_blank">rar</a>
                </div>
            </div>
            <div class="form-group">
                <div class="label-hsk-testCode">
                    <label>H61002</label>
                </div>
                <div class="btn-group flex-wrap" role="group">
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H61002.pdf"}}" target="_blank">PDF</a>
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H61002.mp3"}}" target="_blank">mp3</a>
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H61002.rar"}}" target="_blank">rar</a>
                </div>
            </div>
            <div class="form-group">
                <div class="label-hsk-testCode">
                    <label>H61003</label>
                </div>
                <div class="btn-group flex-wrap" role="group">
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H61003.pdf"}}" target="_blank">PDF</a>
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H61003.mp3"}}" target="_blank">mp3</a>
                    <a class="button btn btn-default" href="{{ "_data/hsk/hsktestsamples/H61003.rar"}}" target="_blank">rar</a>
                </div>
            </div>
        </div>
    </div>
    <!-- sizer -->
    <div class="col-xs-12 col-sm-6 col-md-4 shuffle_sizer"></div>


</div><!-- /#grid -->

{% unless site.output == "pdf" %}
{% include initialize_shuffle.html %}
{% endunless %}

{{site.data.alerts.note}} This was mostly an experiment to see if I could break away from the hierarchical TOC and provide a different way of arranging the content. However, this layout is somewhat problematic because it doesn't allow you to browse other navigation options on the side while viewing a topic.{{site.data.alerts.end}}

