---
title: "test"
keywords:
tags:
sidebar:
layout: homepage
permalink: index.html
toc: false
summary:
---
<div class="row" id="news">
    <div class="col-md-6 stretch-left">
        <div class="container-fluid">
            <div class="jumbotron" id="jumbonews">
                <h2 class="section">Featured</h2>
                <section class="post">
                    <article id="post" class="post-content" role="main" itemprop="mainContentOfPage" style="list-style-type: none">
                        {% for post in site.categories.Featured limit: 5 %}
                        <li><span class="options">{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
                        {% endfor %}
                    </article>
                </section>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="container-fluid">
            <div class="jumbotron" id="jumbonews1">
                <h2 class="section">Last Post</h2>
                <section class="post">
                    <article class="post-content" role="main" itemprop="mainContentOfPage" style="list-style-type: none">
                        {% for post in site.posts limit: 5 %}
                        <li><span class="options">{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
                        {% endfor %}
                    </article>
                </section>
            </div>
        </div>
    </div>
</div>
