---
title: "test"
keywords:
tags:
sidebar:
layout: homepage
permalink: index.html
toc: false
summary:
---
<div class="row">
    <div class="col-md-6 stretch-left">
        <div class="container-fluid">
            <h2 class="section">Featured</h2>
            <div class="jumbotron">
                <section class="post">
                    <article id="post" class="post-content" role="main" itemprop="mainContentOfPage">
                        {% for post in site.categories.Featured limit: 5 %}
                        <li><span>{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
                        {% endfor %}
                    </article>
                </section>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="container-fluid">
            <h2 class="section">Last Post</h2>
            <div class="jumbotron">
                <section class="post">
                    <article id="post" class="post-content" role="main" itemprop="mainContentOfPage">
                        {% for post in site.posts limit: 5 %}
                        <li><span>{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
                        {% endfor %}
                    </article>
                </section>
            </div>
        </div>
    </div>
</div>


<!--{% for tag in site.categories %}-->
<!--<span class="tag-title" id="{{ tag[0] | slugify }}">{{ tag[0] | capitalize }}</span>-->
<!--<ul class="post-list">-->
<!--    {% assign pages_list = tag[1] %}-->
<!--    {% for post in pages_list reversed %}-->
<!--    {% if post.title != null %}-->
<!--    {% if group == null or group == post.group %}-->
<!--    <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}<span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></span></a></li>-->
<!--    {% endif %}-->
<!--    {% endif %}-->
<!--    {% endfor %}-->
<!--    {% assign pages_list = nil %}-->
<!--    {% assign group = nil %}-->
<!--</ul>-->
<!--{% endfor %}-->