<footer>
    <div class="row footer">
        <div class="col-sm-4 col-md-4 col-lg-4 text-center">
            <h3>About US</h3>
            <p>Este é o primeiro parágrafo do texto. Este é o primeiro parágrafo do texto.
                Este é o tsete parágrafo do texto. Este é o primeiro parágrafo do texto.</p>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 text-center">
            <h3>Site Links</h3>
            <p><a href="https://firefox.com/">About us</a></p>
            {% include feedback.html %}
            <p><a href="https://firefox.com/">Something</a></p>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 text-center" style="margin-top:15px">
            <p><img src="{{ "images/company_logo.png" }}" alt="Company logo"/></p>
            <p>2020 Tips4Chinese. All rights reserved.</p>
        </div>
    </div>
</footer>
